<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connStr"
         connectionString="Data Source=LAPTOP-HHCC;Initial Catalog=QLTiemVang;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;Connect Timeout=30"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
